# Git
.git
.gitignore

# Docker
docker-compose.yml
.docker

# Pycache
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

# Pytest cache
.pytest_cache/

# Virtual environment
.env/
.venv/
venv/

# Log
*.log
